<div class="container content">
  <app-movie></app-movie>
  <app-movie title="Бойцовский клуб" [year]="1999" url="https://static.hdrezka.ac/i/2013/11/30/q33c30ddfb881rr29h85b.jpg"></app-movie>
  <app-movie title="Законопослушный гражданин" [year]="2009" url="https://static.hdrezka.ac/i/2014/2/18/df59da04b4437sw12h80k.jpg"></app-movie>
  <app-movie title="Иллюзия обмана" [year]="2013" url="https://static.hdrezka.ac/i/2021/1/4/n55ee625ada86jd77m21f.jpeg"></app-movie>
</div>
