<div class="sidebar">
  <ul>
    <li><a href="#">Фильмы</a></li>
    <li><a href="#">Сериалы</a></li>
    <li><a href="#">Мультфильмы</a></li>
    <li><a href="#">Аниме</a></li>
    <li><a href="#">Новинки</a></li>
    <li><a href="#">Подпорки</a></li>
  </ul>
</div>

