.sidebar {
  margin-bottom: 50px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  display: inline-block;
  margin-right: 30px;
  padding: 10px 0;
}

.sidebar a {
  color: #424242;
  font-weight: bold;
  font-size: 15px;
  text-decoration: none;
}

