<div class="movie">
  <div class="img">
    <img [src]="url" alt="movie-img" style="max-height: 250px">
  </div>
  <div class="info">
    <p><b>Название фильма: </b>{{title}}</p>
    <p><b>Год выпуска: </b>{{year}}</p>
  </div>
</div>
